@model List<ItemData>

@{
    @*ViewData["Title"] = "Home Page";

    var itemList = ViewData["Items"].ToString();*@

    @*var items = Model.*@
   

}






<div class="text-center">
    <h1 class="display-4">Secret Home Page - Authorized through Jwt Token</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>





<table class="table table-borded table-striped" style="width:100%">
   
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Done
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width="20%">@item.Id</td>
                <td width="30%">@item.Title</td>
                <td width="20%">@item.Description</td>
                <td width="30%">@item.Done</td>
            </tr>
        }
    </tbody>
</table>

<h1>Secret Page</h1>